<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_admin}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Lista de reservas</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Lista de peticiones</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Monitor</th>
					<th>Estado</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="request: ${requests}">
					<td th:text="${request.instructorID}"></td>
					<td th:text="${request.state}"></td>
					<td><a
						th:href="@{/request/accept/{requestID}(requestID=${request.requestID})}"
						class="btn btn-info" role="button">Aceptar</a></td>
					<td><a
						th:href="@{/request/reject/{requestID}(requestID=${request.requestID})}"
						class="btn btn-info" role="button">Rechazar</a>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>