<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_instructor}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Lista de reservas</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Lista de peticiones</h1>
		<a href="add" class="btn btn-info" role="button">Añadir
			petición</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Tipo de actividad</th>
					<th>Certificado</th>
					<th>Estado</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="request: ${requestsInstructor}">
					<td th:text="${request.activityTypeId}"></td>
					<td ><a
						th:href="${request.certificateAttached}"
						class="btn btn-info" role="button">Abrir</a></td>
					<td th:text="${request.state}"></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>