
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_customer}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Inserta reserva</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
	<h2>Nueva reserva</h2>
	<form action="#" th:action="@{/reservation/add}" th:object="${reservation}"
		method="post">
		<table>
		
			<tr>
				
				<td><input type="hidden" th:field="*{bookingDate}"  class="form-control"  /></td>
				
			</tr>
			<tr>
				
				<td><input type="hidden" th:field="*{activityDate}"  class="form-control"  /></td>
			</tr>
			<tr>
				
				<td><input type="hidden" th:field="*{priceByPerson}"  class="form-control"  /></td>
			</tr>
			<tr>
				
				<td><input type="hidden" th:field="*{totalPrice}"  class="form-control"  /></td>
			</tr>
			<tr>
			
				<td><label>Numero de personas</label></td>
				<td><input type="number" th:field="*{numberOfPersons}"  class="form-control" required/></td>
				
			</tr>
			
			<tr>
				
				<td><input type="hidden" th:field="*{activityID}"  class="form-control"  /></td>
			</tr>

			<tr>
			
				<td colspan="2"><input type="submit" value="Añadir reserva" class="btn btn-info" role="button" /></td>
			</tr>
		</table>
	</form>
		</div>
</body>
</html>
