
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Inserta nuevo tipo de actividad</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
	<h2>Nuevo tipo de actividad</h2>
	<form action="#" th:action="@{/activityType/add}" th:object="${activityType}"
		method="post">
		<table>
			<tr>
				<td><label>Nombre</label></td>
				<td><input type="text" th:field="*{nameType}" class="form-control"/></td>
			</tr>
			<tr>
				<td><label>Nivel</label></td>
				<td><input type="text" th:field="*{riskLevel}" class="form-control"/></td>
			</tr>
			<tr>
				<td><label>Descripción</label></td>
				<td><input type="text" th:field="*{description}" class="form-control"/></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Añadir tipo de actividad" class="btn btn-info" role="button"/></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>
