
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_admin}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Inserta nuevo tipo de actividad</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
	<h2>Nuevo tipo de actividad</h2>
	<form action="#"
		th:action="@{/activityType/update/{nameType}(nameType=${activityType.nameType})}"
		th:object="${activityType}" method="post">
		<table>
			<tr>
				<td><label>Nombre</label></td>
				<td><input type="text" th:field="*{nameType}" readonly class="form-control"/></td>
			</tr>
			<tr>
				<td><label>Nivel</label></td>
								<td><select class="form_control" th:field="*{riskLevel}" required>
						<option value="lowRisk">Bajo riesgo</option>
						<option value="mediumRisk">Medio riesgo</option>
						<option value="highRisk">Alto riesgo</option></select></td>
			</tr>
			<tr>
				<td><label>Descripción</label></td>
				<td><input type="text" th:field="*{description}" class="form-control" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit" value="Editar tipo de actividad" class="btn btn-info" role="button"/></td>
			</tr>
		</table>
	</form>
		</div>
</body>
</html>
