<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Inserta monitor</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">
	<h2>Nuevo monitor</h2>
		
	<form action="#" th:action="@{/instructor/add}"
		th:object="${instructor}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td><label>NIF</label></td>
				<td><input type="text" th:field="*{nif}" class="form-control"  required/></td>
				<td th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Contraseña</label></td>
				<td><input type="password" th:field="*{password}"  class="form-control" required/></td>
								
			</tr>
			<tr>
				<td><label>Nombre</label></td>
				<td><input type="text" th:field="*{name}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Correo</label></td>
				<td><input type="text" th:field="*{email}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Dirección</label></td>
				<td><input type="text" th:field="*{address}" class="form-control" required/></td>
			</tr>
			<tr>
				<td><label>Cuenta Bancaria</label></td>
				<td><input type="text" th:field="*{bankAccount}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Foto</label></td>
				<td><input type="file" id="avatar" name="file" accept="image/png, image/jpeg" required/></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Añadir monitor" class="btn btn-info" role="button" /></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>
