
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_instructor}">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Inserta actividad</title>
<meta charset="UTF-8" />
<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>


<body>
	<h2>Nueva actividad</h2>
	<div layout:fragment="content">
	<form action="#" th:action="@{/activity/add}" th:object="${activity}" enctype="multipart/form-data"
		method="post">
		<table >
			<tr>
				<td><label>Nombre</label></td>
				<td><input type="text" th:field="*{name}" placeholder="Nombre de la actividad" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error" ></td>
			</tr>
			<tr>
				<td><label>Lugar</label></td>
				<td><input type="text" th:field="*{place}" placeholder="" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('place')}" th:errors="*{place}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Horario</label></td>
				<td><input type="date" th:field="*{schedule}"  class="form-control" required/></td>
			</tr>
			<tr>
				<td><label>Duración</label></td>
				<td><input type="text" th:field="*{duration}" class="form-control" required/></td>
			</tr>
			<tr>
				<td><label>Descripción</label></td>
				<td><input type="text" th:field="*{description}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Precio por persona</label></td>
				<td><input type="number" th:field="*{priceByPerson}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('priceByPerson')}" th:errors="*{priceByPerson}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Nº de personas</label></td>
				<td><input type="number" th:field="*{numberOfPeople}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('numberOfPeople')}" th:errors="*{numberOfPeople}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Monitor</label></td>
				<td><input type="text" th:field="*{instructorId}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('instructorId')}" th:errors="*{instructorId}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Tipo de actividad</label></td>
				<td><input type="number" th:field="*{activityTypeId}" class="form-control" required/></td>
				<td th:if="${#fields.hasErrors('activityTypeId')}" th:errors="*{activityTypeId}"  class="error"></td>
			</tr>
			<tr>
				<td><label>Seleccione imagen: </label></td>
				<td><input type="file" id="avatar" name="file" accept="image/png, image/jpeg"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Añadir actividad"  class="btn btn-info" role="button"/></td>

		</table>
	</form>
	</div>
</body>

</html>
