<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Listar actividades</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Lista de actividades</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Lugar</th>
					<th>Horario</th>
					<th>Duración</th>
					<th>Descripción</th>
					<th>Precio por persona</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="activity: ${activities}">
					<td th:text="${activity.name}"></td>
					<td th:text="${activity.place}"></td>
					<td th:text="${activity.schedule}"></td>
					<td th:text="${activity.duration}"></td>
					<td th:text="${activity.description}"></td>
					<td th:text="${activity.priceByPerson}"></td>
					<td><a
						th:href="@{/activity/update/{name}(name=${activity.name})}">Edita</a>
					</td>
					<td><a
						th:href="@{/activity/delete/{name}(name=${activity.name})}">Borra</a>
				</tr>
			</tbody>
		</table>
		<a href="add" class="btn btn-success" role="button">Añadir
			actividad</a>
	</div>
</body>
</html>