<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Listar actividades</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<h3>Lista de actividades</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Lugar</th>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Duración</th>
					<th>Descripción</th>
					<th>Precio por persona</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="activity: ${activities}">
					<td th:text="${activity.activityId}"></td>
					<td th:text="${activity.name}"></td>
					<td th:text="${activity.place}"></td>
					<td th:text="${#temporals.format(activity.schedule,'dd MMMM yyyy')}"></td>
					<td th:text="${activity.hour}"></td>
					<td th:text="${activity.duration}"></td>
					<td th:text="${activity.description}"></td>
					<td th:text="${activity.priceByPerson}"></td>
					<td><img th:src="${activity.photo}" style="max-width: 300px; max-height: 300px"/></td>
					<td><a
						th:href="@{/reservation/add/{activityId}(activityId=${activity.activityId})}" class="btn btn-info" role="button">Reserva</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>