<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Llista d'usuaris del sistema</title>
<meta charset="UTF-8" />
<!-- Afegim una fulla d'estil (Bootstrap) -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

</head>

<body>
	<div layout:fragment="content">
	<h1>Lista de usuarios del sistema</h1>
	<div th:if="${#lists.isEmpty(users)}">No hay usuarios</div>
	<table th:unless="${#lists.isEmpty(users)}"
		class="table table-striped">
		<thead>
			<tr>
				<th>Nombre de usuario</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="user: ${users}">
				<td th:text="${user.username}"></td>
			</tr>
		</tbody>
	</table>
	<a href="/" class="btn btn-info" role="button">Volver</a>
	</div>
</body>
</html>
