<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
	
	    <img src="/logo.png" width=95 height=70 alt="">
  </a>
  
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav mr-auto">
			
			<li class="nav-item"><a class="nav-link" href="/"
				th:href="@{/}">Página Principal</a></li>
				<li class="nav-item"><a class="nav-link" href="/activity/list_user"
				th:href="@{/activity/list_user}">Actividades</a></li>
				<li class="nav-item"><a class="nav-link" href="/customer/list"
				th:href="@{/customer/list}">Clientes</a></li>
				<li class="nav-item"><a class="nav-link" href="/instructor/list"
				th:href="@{/instructor/list}">Monitores</a></li>
				<li class="nav-item"><a class="nav-link" href="/reservation/list"
				th:href="@{/reservation/list}">Reservas</a></li>
				<li class="nav-item"><a class="nav-link" href="/user/list"
				th:href="@{/user/list}">Área privada</a></li>
				<li class="nav-item"><a class="nav-link" href="/activity/list"
				th:href="@{/activity/list}">Gestión de actividades</a></li>
		</ul>
	</div>
	<div class="loggeduser" th:object="${session}">
	<p th:if="*{user == null}">
		No autentificado <a href="/login" th:href="@{/login}">Entrar</a>
	</p>
	<p th:unless="*{user == null}">
		Autenticado como <span th:text="*{user.username}"></span> <a
			href="/logout" th:href="@{/logout}">Salir</a>
	</p>
</div>
</nav>