.cuerpoG{
	background: #445;
	margin:0;
	font-family monospace;
	
}
.titulo{
	color: #fff;
	text-align:center;
}
.galeria{
	width:90%;
	margin:auto;
	
	padding:20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	
}
.galeria li{
	margin:0px;
}
.galeria img{
	width:250px;
	heigth:200px;
}
