h1 { font-family: monospace; font-size: 33px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 36.3px; } 
h3 { font-family: monospace; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: monospace; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
a{font-family: monospace; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;}
blockquote { font-family: monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: monospace; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
div.content {
	
	margin-left:100px;
	margin-right: 100px;
}
font-family{
	font-family:
}

.error {
	color: red;
	font-size: 80%
}

.loggeduser {
	color: gray;
	text-align: right;
	margin-right: 10pt;
}

h3 {
	color: blue;
}

div.img {
	display: table;
}

div.img img {
	margin: 0;
	padding: 0;
}

div.img span {
	line-height: normal;
	font-size: 11px;
	display: table-caption;
	margin: 0;
	background: #646464;
	color: white;
	font-style: italic;
	padding: 5px;
	text-align: center;
}

.body {
	background: #4444;
}

h1 {
	color: #fff;
	text-align: center;
}

.galeria .uls{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



.footer {
	position: absolute;
	left: 0;
	bottom: 1;
	width: 100%;
	background-color: #b5d1e6;
	color: white;
	text-align: left;
 
}

.footer .text-muted {
	margin-left:50px;
}

.galeria {
	background: #445;

}

.titulo {
	color: #fff;
	text-align: center;
}


.galeria li {
	margin: 0px;
}

.im a img{
	width: 377px;
	height: 320px;

}
.im a p{
	text-align:center;
}

.galeria .titulos   {
	color: white;
}

.table.table-borderless{
	text-align:center;
	
}
.actividad tr{
	
	text-align: center;
	
}
.actividad h3{
	text-align: center;
}
.actIm{
	width: 600px;
	height: 450px;
	margin:10px auto;
	display:block;
}
.carousel-inner img {
    width: 80%;

}

.carousel-inner{


}
.carousel{
	height: 600px;
	max-width:	80%;
	
}
.carousel img{
	height:600px
}
.indexList img{
	width: 50px;
	height: 50px;
}
.indexList ul{
	margin-top: 100px;
	list-style: none;
	text-align: center;
	width: 250px;
	height: 350px;
	padding: 30px;
	
	
	color:#FFFFFF;
	background-color:#DAEEF2;

}
.indexList ul a{
	color:	#054C60;
}


