.error {
	color: red;
	font-size: 80%
}

.loggeduser {
	color: gray;
	text-align: right;
	margin-right: 10pt;
}

h3 {
	color: blue;
}

div.img {
	display: table;
}

div.img img {
	margin: 0;
	padding: 0;
}

div.img span {
	line-height: normal;
	font-size: 11px;
	display: table-caption;
	margin: 0;
	background: #646464;
	color: white;
	font-style: italic;
	padding: 5px;
	text-align: center;
}

.body {
	background: #4444;
}

h1 {
	color: #fff;
	text-align: center;
}

.galeria .uls{
	width: 90%;
	margin: auto;
	list-style: none;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}



.footer {
	position: absolute;
	left: 1;
	bottom: 1;
	width: 100%;
	background-color: white;
	color: white;
	text-align: left;
}

.galeria {
	background: #445;

}

.titulo {
	color: #fff;
	text-align: center;
}


.galeria li {
	margin: 0px;
}

.im a img{
	width: 377px;
	height: 320px;

}
.im a p{
	text-align:center;
}

.galeria p {
	color: white;
}

.table.table-borderless{
	text-align:center;
	
}
.actividad tr{
	
	text-align: center;
	
}
.actividad h3{
	text-align: center;
}
.actIm{
	max-width: 600px;
	max-height: 450px;
	margin:10px auto;
	display:block;
}
