<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base_admin}">
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css"
	th:href="@{/css/style.css}" />
<title>Lista clientes</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Lista de Clientes</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>DNI</th>
					<th>Correo</th>
					<th>Género</th>
					<th>Fecha de nacimiento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer: ${customers}">
					<td th:text="${customer.name}"></td>
					<td th:text="${customer.nif}"></td>
					<td th:text="${customer.email}"></td>
					<td th:text="${customer.gender}"></td>
					<td th:text="${customer.birthDate}"></td>
					<td><a
						th:href="@{/reservation/listReservationAdmin/{nif}(nif=${customer.nif})}"
						class="btn btn-info" role="button">Ver reservas</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>